body {
  margin: 0;
  font-family: Hiragino Maru Gothic ProN W4, Meiryo, sans-serif;
}

.container-fluid {
  margin: 0 auto;
  padding: 0;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

/* ヘッダー部分ここから */

header {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px rgb(0, 234, 255) solid;
  z-index: 1;
}

.header-left {
  flex: 1;
}

.header-logo {
  height: 40px;
  margin-left: 5px;
  display: flex;
  vertical-align: bottom;
}

.header-right {
  display: none;
}

.welcome-message {
  flex: 5;
  text-align: center;
  font-size: 12px;
}

.nav {
  display: none;
}

.twitter {
  flex: 1;
  display: flex;
  justify-content: center;
}

.twitter a {
  display: block;
}

.twitter-icon {
  height: 30px;
}

/* ヘッダーここまで */
/* body部分ここから */

.blank {
  height: 40px;
}

.main-blank {
  height: 10px;
}

.movie {
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.WhatsNewContainer {
  flex: 1;
  margin-left: 0;
}

.WhatsNewTitle,
.ActivityTitle {
  border-bottom: 2px rgb(0, 234, 255) solid;
}

.ActivityContainer {
  flex: 1;
  margin-left: 0;
}

.ActivityComment {
  padding: 20px;
  font-size: 14px;
}

.title {
  font-size: 20px;
  text-align: center;
}

.subtitle {
  font-size: 14px;
}

/* body部分ここまで */

/* footerここから */

footer {
  margin-top: 5px;
  margin-bottom: 45px;
  padding-right: 10px;
  height: 60px;
  border-top: 2px rgb(0, 234, 255) solid;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

/* footerここまで */

.nav-bottom {
  bottom: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
}

.nav-bottom ul {
  -webkit-appearance: none;
  list-style: none;
  margin-bottom: 0;
  display: flex;
  padding-inline-start: 0;
  margin-block: 0;
}

.nav-bottom li {
  flex: 1;
  font-size: 14px;
  background-color: black;
  text-align: center;
  border-left: 1px solid #ffffff;
  border-radius: 2px;
}

.nav-bottom li:first-child {
  border-left: none;
}

.nav-bottom li a {
  display: block;
  text-decoration: none;
  color: white;
}

.anchor {
  display: block;
  margin-top: -50px;
  padding-top: 50px;
}

@media (min-width: 600px) {
  header,
  .blank {
    height: 60px;
  }

  .header-logo {
    height: 60px;
    margin-left: 10px;
  }

  .welcome-message {
    display: none;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 18px;
  }

  .ActivityComment {
    font-size: 20px;
  }

  .nav {
    flex: 8;
    display: block;
    width: 100%;
    margin: 30px;
  }

  .nav ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    margin-block: 0;
  }

  .nav li {
    flex: 1;
    text-align: center;
    font-size: 2.3vw;
    border: 1px solid white;
    /* background-color: rgb(20, 208, 229); */
    border-radius: 10px;
  }

  .nav li a {
    text-decoration: none;
    color: blue;
  }

  footer {
    margin-bottom: 0;
    padding-right: 10px;
  }

  .nav-bottom {
    display: none;
  }
}

@media (min-width: 900px) {
  header {
    justify-content: space-around;
  }

  .header-left {
    flex: 12;
  }

  .nav {
    display: none;
  }

  .header-right {
    display: block;
    flex: 10;
    text-align: center;
    font-size: min(1.6vw, 18px);
  }

  .header-right a {
    text-decoration: none;
    color: rgb(57, 25, 236);
  }

  main {
    flex-direction: row;
  }

  .title {
    font-size: 25px;
    text-align: left;
    padding-left: 15px;
  }

  .ActivityContainer {
    margin-left: 5px;
  }

  .ActivityComment {
    font-size: 16px;
  }
}
